services:
  server:
    image: riccardidario1/flask-server:latest
    container_name: flask_app
    ports:
      - "5000:5000"

  nginx:
    image: riccardidario1/nginx-pq:latest 
    container_name: nginx_pq
    ports:
      - "4433:4433"
    volumes:
      - ./certs:/etc/nginx/certs/
      - ./output:/opt/nginx/output
      - ./nginx/start_server.py:/opt/nginx/start_server.py
      - ./nginx/nginx.conf:/opt/nginx/nginx.conf
    privileged: true
    entrypoint: ["/bin/sh", "-c", "nginx -c /opt/nginx/nginx.conf -g 'daemon off;' & sleep 5 && python3 /opt/nginx/start_server.py && tail -f /dev/null"]
